
<h1 style="margin: 20px 0px 0px 40px ;">Usuarios</h1>

<mat-card style="margin: 20px 40px 40px 40px">
    <mat-card-title>
        <button mat-raised-button color="primary" (click)="nuevoUsuario()">
            <mat-icon mat-list-icon>add</mat-icon>Nuevo
        </button>
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content class="dashBoard-card-content">
        <mat-form-field appearance="standard">
            <mat-label>Buscar</mat-label>
            <input matInput(keyup)="aplicarFiltroTabla($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z2">
            <table mat-table[dataSource] = "dataListaUsuarios">

            </table>
        </div>
    </mat-card-content>
</mat-card>